<nz-header>
	<div class="app-header" nz-row>
		<div nz-col [nzSpan]="4">
			<span class="header-trigger" (click)="toggleCollapsed()">
				<i
					class="trigger"
					nz-icon
					[nzType]="isCollapsed ? 'menu-unfold' : 'menu-fold'"
				></i>
			</span>
		</div>
		<div nz-col nzSpan="20" class="header-right-wrap">
			<div class="header-right">
				<a class="userName" nz-dropdown [nzDropdownMenu]="menu">
					<nz-avatar nzIcon="user"></nz-avatar>
					<span>{{ userName }}，你好</span>
				</a>
				<nz-dropdown-menu #menu="nzDropdownMenu">
					<ul nz-menu nzSelectable>
						<li nz-menu-item (click)="changeUser()">
							<i nz-icon nzType="setting" nzTheme="outline"> </i>
							切换用户
						</li>
						<li nz-menu-item (click)="loginOut()">
							<i nz-icon nzType="logout" nzTheme="outline"></i>
							注销
						</li>
					</ul>
				</nz-dropdown-menu>
			</div>
		</div>
	</div>
</nz-header>
