#login-wrap {
	overflow: hidden;
	height: 100%;
	background-image: url(../../../assets/loginBgm.svg);
	background-repeat: no-repeat;
	background-position: center 110px;
	background-size: 100%;

	.logoWrap {
		margin: 180px auto 20px;
		text-align: center;
		img {
			width: 64px;
			height: 64px;
			border-radius: 12px;
		}
		h1 {
			margin: 0;
		}
	}

	.login-form {
		max-width: 300px;
		margin: 0 auto;
	}

	.login-form-forgot {
		float: right;
	}

	.login-form-button {
		width: 100%;
	}

	.loginBottom {
		position: fixed;
		bottom: 10px;
		width: 100%;

		p {
			text-align: center;
		}
	}
}
