<nz-sider
	class="menu-sidebar"
	nzCollapsible
	nzWidth="256px"
	[(nzCollapsed)]="isCollapsed"
	[nzTrigger]="null"
>
	<div class="sidebar-logo">
		<a routerLink="/welcome">
			<img
				src="//static.xab.vip/image/yunibaoadmin/logo.png"
				alt="logo"
			/>
			<h1>管理系统</h1>
		</a>
	</div>
	<div data-scrollbar>
		<ul
			class="menu-list"
			nz-menu
			nzTheme="dark"
			nzMode="inline"
			[nzInlineCollapsed]="isCollapsed"
		>
			<ng-container *ngFor="let item of menuList">
				<!-- 渲染一级菜单 -->
				<li
					*ngIf="!item.meta.invisible; else elseTemplate"
					nz-submenu
					[nzTitle]="item.title"
					[nzIcon]="item.meta.icon"
					[nzOpen]="isOpen"
				>
					<ul>
						<ng-container *ngFor="let child of item.children">
							<li
								*ngIf="!child.meta.invisible"
								nz-menu-item
								nzMatchRouter
							>
								<a
									[routerLink]="
										'/' + item.path + '/' + child.path
									"
									>{{ child.title }}</a
								>
							</li>
						</ng-container>
					</ul>
				</li>
				<ng-template #elseTemplate>
					<ng-container *ngFor="let child of item.children">
						<li
							*ngIf="!child.meta.invisible"
							nz-menu-item
							nzMatchRouter
						>
							<a
								[routerLink]="
									'/' + item.path + '/' + child.path
								"
							>
								<i nz-icon [nzType]="child.meta.icon"></i>
								<span>{{ child.title }}</span>
							</a>
						</li>
					</ng-container>
				</ng-template>
			</ng-container>
		</ul>
	</div>
</nz-sider>
